{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "defaults, ie 11",
        "useBuiltIns": "entry",
        "corejs": 3,
        "shippedProposals": true
      }
    ],
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript"
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]]
    }
  }
}
