{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "prettier"],
  "parserOptions": {
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["src/**/scripts/**/*.js"],
      "parserOptions": {
        "sourceType": "script",
        "ecmaVersion": 2020,
        "ecmaFeatures": {
          "impliedStrict": true
        }
      }
    },
    {
      "files": ["src/**/*.ts"],
      "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": { "project": "**/tsconfig.json" }
    },
    {
      "files": ["src/**/*.tsx"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "prettier"
      ],
      "settings": {
        "react": {
          "version": "detect"
        }
      },
      "rules": {
        "react/prop-types": "off",
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off"
      }
    }
  ]
}
